:root {
    --color-secret: #8e959f;
    --accent: hsl(214, 89%, 52%);
    --color-orange: #e44d3a;
}

.post-bar {
    padding: 20px !important;
}

.wrp-logo {
    padding: 10px;
    position: relative;
    float: right;
    /* max-width: 200px !important;
    max-height: 200px !important; */
}

.logo-company {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    float: unset;
    border-radius: 50%;
    border: 3px solid  var(--color-orange) !important;
}

.wrp-info-work {
    width: 100%;
    margin-left: 3%;
}

.name-work {
    font-size: 25px;
    color: #4C5BD4;
}

.name-company {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 2%;
    color: black;
}

.wrp_job_info {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 3%;
}

.job_info {
    color: #6F6F6F;
    cursor: context-menu;
}

.job_info i,
.job_chat i {
    color: var(--accent);
    margin-right: 3px;
}

.job_money {
    width: max-content;
    margin-top: 3%;
}

.job_chat a{
    color: #6F6F6F;
}

.like-com li a {
    transition: unset;
}

.active_like {
    color: #e44d3a !important;
}

.count_like {
    all: revert !important;
}

.modal-dialog {
    height: 50% !important;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2) ,0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    align-items: unset;
}

.header {
    height: 60px !important;
    border-bottom: 1px solid black;
}

.header .header_title {
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
}

.middle {
    height: 80%;
    overflow-y: scroll;
    padding: 10px 15px;
}

.footer {
    padding: 2%;
    border-top: 1px solid black;
}

.footer_title,
.wrp_ipt_feedback {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px;
}

.footer_title>img,
.wrp_ipt_feedback>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2%;
}

.wrp_ipt_comment {
    width: 98%;
    position: relative;
    height: 80%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 10px;
}

.wrp_comment_feedback {
    margin-left: 10%;
}

.wrp_ipt_feedback {
    padding: 0;
}

.feedback {
    width: 100%;
}

.ipt_cm {
    width: 90%;
    height: 40px;
    line-height: 20px;
    border-color: transparent;
    outline: none;
    resize: none;
    border-radius: 10px;
    border-right: 1px solid black;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
.wrp_icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrp_comment {
    display: flex;
    align-items: start;
}

.wrp_avatar {
    min-width: 50px !important;
    margin-right: 2%;
}

.wrp_avatar>img{
    border-radius: 50%;
    object-fit: cover;
}

.content_comment {
    background: black;
    color: white;
    border-radius: 10px;
    text-align: justify;
    padding: 5px 15px;
}

.content_comment .name {
    font-size: 16px;
    font-weight: bold;
}

.comment_feedback {
    /* margin-left: 10%; */
    position: relative;
}

.icon_send {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.time_comment,
.btn_interact {
    font-size: 14px;
}

.btn_interact:hover {
    text-decoration: underline;
    cursor: pointer;
}
